<section class="main">
    <div class="container">
      <h2 class="main__title">Favorites cocktails</h2>
      <div class="main__flex" data-page="favorite-coctails">
        <div class="spinner spinner-bg spinner-alert"></div>
      </div>
    </div>
  </section>
  
  <!-- scroll-top -->
  <div class="scroll__top">
    <svg class="scroll__top-svg" viewBox="-2 -2 52 52">
      <path
        class="scroll__top-svg-path"
        d="M24,0
      a24,24 0 0,1 0,48
      a24,24 0 0,1 0,-48"
      />
    </svg>
  </div>