<footer class="footer" >
    <div class="footer__container">
    <p class="footer__mini">
        &#169 | All Rights Reserved |
        Developed with <span><svg class="footer__icon-mini" width="20" height="18">
                <use href="./images/svg/symbol-defs.svg#icon-heart-white">
                </use>
            </svg></span>
        by NEGRONI TEAM
    </p>
    </div>
    <ul class="footer__list">
        <li class="footer__item">
            <a class="footer__link" lang="en" href="https://github.com/V21Tymchenko" target="_blank" rel="noopener noreferrer">
                <svg class="footer__icon" width="40" height="40">
                   <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                </svg>
                <h2 class="footer__name">V21Tymchenko</h2>
            </a> 
        </li>
        <li class="footer__item">
            <a class="footer__link" lang="en" href="https://github.com/ZnSt" target="_blank" rel="noopener noreferrer">
                <svg class="footer__icon" width="40" height="40">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                </svg>
                <h2 class="footer__name">ZnSt</h2>
            </a>
        </li>
        <li class="footer__item">
            <a class="footer__link" lang="en" href="https://github.com/AndriiNahornyi" target="_blank" rel="noopener noreferrer">
                <svg class="footer__icon" width="40" height="40">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                </svg>
                <h2 class="footer__name">NahornyiAndrii</h2>
            </a>
         </li>
        <li class="footer__item">
            <a class="footer__link" lang="en" href="https://github.com/VTrofym" target="_blank" rel="noopener noreferrer">
                <svg class="footer__icon" width="40" height="40">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                </svg>
                <h2 class="footer__name">VTrofym</h2>
            </a>
         </li>
        <li class="footer__item">
            <a class="footer__link" lang="en" href="https://github.com/Anna-Tsepak" target="_blank" rel="noopener noreferrer">
                <svg class="footer__icon" width="40" height="40">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                </svg>
                <h2 class="footer__name">Anna-Tsepak</h2>
            </a>
        </li>
        <li class="footer__item">
        <a class="footer__link" lang="en" href="https://github.com/DanilStan" target="_blank" rel="noopener noreferrer">
            <svg class="footer__icon" width="40" height="40">
                <use href="./images/svg/symbol-defs.svg#icon-github"></use>
            </svg>
            <h2 class="footer__name">DanilStan</h2>
        </a>
        </li>
        <li class="footer__item">
            <a class="footer__link" lang="en" href="https://github.com/toontu" target="_blank" rel="noopener noreferrer">
                <svg class="footer__icon" width="40" height="40">
                <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                </svg>
                <h2 class="footer__name">toontu</h2>
            </a> 
        </li>
        <li class="footer__item">
        <a class="footer__link" lang="en" href="https://github.com/AndreiKrai" target="_blank" rel="noopener noreferrer">
            <svg class="footer__icon" width="40" height="40">
                <use href="./images/svg/symbol-defs.svg#icon-github"></use>
            </svg>
            <h2 class="footer__name">AndreiKrai</h2>
        </a>
        </li>
        <li class="footer__item">
            <a class="footer__link" lang="en" href="https://github.com/Brudja" target="_blank" rel="noopener noreferrer">
                <svg class="footer__icon" width="40" height="40">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                </svg>
                <h2 class="footer__name">Brudja</h2>
            </a>
        </li>
        <li class="footer__item">
            <a class="footer__link" lang="en" href="https://github.com/PolinaIgrushkina" target="_blank" rel="noopener noreferrer">
                <svg class="footer__icon" width="40" height="40">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                </svg>
                <h2 class="footer__name">PolinaIgrushkina</h2>
            </a>
        </li>
    </ul> 
</footer>