<section class="section-hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">A party without cocktails is not like a party</h1>

      <p class="hero-text">Search your favorite cocktail by ABC</p>

      <ul class="hero-list">
        <li class="hero-item" data-value="A">A</li>
        <li class="hero-item" data-value="B">B</li>
        <li class="hero-item" data-value="D">D</li>
        <li class="hero-item" data-value="C">C</li>
        <li class="hero-item" data-value="E">E</li>
        <li class="hero-item" data-value="F">F</li>
        <li class="hero-item" data-value="G">G</li>
        <li class="hero-item" data-value="H">H</li>
        <li class="hero-item" data-value="I">I</li>
        <li class="hero-item" data-value="J">J</li>
        <li class="hero-item" data-value="K">K</li>
        <li class="hero-item" data-value="L">L</li>
        <li class="hero-item" data-value="M">M</li>
        <li class="hero-item" data-value="N">N</li>
        <li class="hero-item" data-value="O">O</li>
        <li class="hero-item" data-value="P">P</li>
        <li class="hero-item" data-value="Q">Q</li>
        <li class="hero-item" data-value="R">R</li>
        <li class="hero-item" data-value="S">S</li>
        <li class="hero-item" data-value="T">T</li>
        <li class="hero-item" data-value="U">U</li>
        <li class="hero-item" data-value="V">V</li>
        <li class="hero-item" data-value="W">W</li>
        <li class="hero-item" data-value="X">X</li>
        <li class="hero-item" data-value="Y">Y</li>
        <li class="hero-item" data-value="Z">Z</li>
        <li class="hero-item" data-value="1">1</li>
        <li class="hero-item" data-value="2">2</li>
        <li class="hero-item" data-value="3">3</li>
        <li class="hero-item" data-value="4">4</li>
        <li class="hero-item" data-value="5">5</li>
        <li class="hero-item" data-value="6">6</li>
        <li class="hero-item" data-value="7">7</li>
        <li class="hero-item" data-value="8">8</li>
        <li class="hero-item" data-value="9">9</li>
        <li class="hero-item" data-value="0">0</li>
        <li class="hero-item"></li>
      </ul>
    </div>

    <div class="picture-section">
      <picture>
        <source
          srcset="
            ./images/hero/delicious-sangria-cocktail-held-in-hand(dek-1x)-min.png 1x,
            ./images/hero/delicious-sangria-cocktail-held-in-hand(dek-2x)-min.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hero/delicious-sangria-cocktail-held-in-hand(tablet-1x)-min.png 1x,
            ./images/hero/delicious-sangria-cocktail-held-in-hand(tablet-2x)-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/delicious-sangria-cocktail-held-in-hand(mobi-1x)-min.png 1x,
            ./images/hero/delicious-sangria-cocktail-held-in-hand(mobi-2x)-min.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero-image"
          src="./images/hero/delicious-sangria-cocktail-held-in-hand(mobi-1x)-min.png"
          alt="glass"
        />
      </picture>
    </div>
    <p class="hero-text__mob">Search your favorite cocktail by ABC</p>

    <div class="app">
      <div class="select__wrapp">
        <div class="select">
          <span class="input-text">A</span>
          <span class="hero__container--icon">
            <svg class="hero__icon" width="12" height="7">
              <use href="./images/svg/symbol-defs.svg#icon-down"></use>
            </svg>
          </span>
        </div>
        <div class="select__dropdown is-hidden">
          <ul class="hero-list__mobi">
            <li class="select__list" data-value="A">A</li>
            <li class="select__list" data-value="B">B</li>
            <li class="select__list" data-value="C">C</li>
            <li class="select__list" data-value="D">D</li>
            <li class="select__list" data-value="E">E</li>
            <li class="select__list" data-value="F">F</li>
            <li class="select__list" data-value="G">G</li>
            <li class="select__list" data-value="H">H</li>
            <li class="select__list" data-value="I">I</li>
            <li class="select__list" data-value="J">J</li>
            <li class="select__list" data-value="K">K</li>
            <li class="select__list" data-value="L">L</li>
            <li class="select__list" data-value="M">M</li>
            <li class="select__list" data-value="N">N</li>
            <li class="select__list" data-value="O">O</li>
            <li class="select__list" data-value="P">P</li>
            <li class="select__list" data-value="Q">Q</li>
            <li class="select__list" data-value="R">R</li>
            <li class="select__list" data-value="S">S</li>
            <li class="select__list" data-value="T">T</li>
            <li class="select__list" data-value="U">U</li>
            <li class="select__list" data-value="V">V</li>
            <li class="select__list" data-value="W">W</li>
            <li class="select__list" data-value="X">X</li>
            <li class="select__list" data-value="Y">Y</li>
            <li class="select__list" data-value="Z">Z</li>
            <li class="select__list" data-value="1">1</li>
            <li class="select__list" data-value="2">2</li>
            <li class="select__list" data-value="3">3</li>
            <li class="select__list" data-value="4">4</li>
            <li class="select__list" data-value="5">5</li>
            <li class="select__list" data-value="6">6</li>
            <li class="select__list" data-value="7">7</li>
            <li class="select__list" data-value="8">8</li>
            <li class="select__list" data-value="9">9</li>
            <li class="select__list" data-value="0">0</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sorry error-hidden">
      <h2 class="sorry-text">Sorry, we didn't find any cocktail for you</h2>
      <picture>
        <source
          srcset="
            ./images/hero/photo-min-1x.png 1x,
            ./images/hero/photo-min-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/photo-tab-1x.png 1x,
            ./images/hero/photo-tab-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="sorry-img"
          src="./images/hero/photo-min-1x.png"
          alt="cafe"
        />
      </picture>
    </div>
  </div>
</section>
